.auth {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    &__form {
        box-sizing: border-box;

        max-width: 370px;
        width: 100%;
        padding: 20px;
        border-radius: 4px;
        margin: 0 10px;

        box-shadow: 2px 2px 3px 1px #eee;
        border: 1px solid #eee;
        background: #fff;

        display: flex;
        flex-direction: column;

        input {
            padding: 4px 8px;
            margin: 4px;

            font-size: 16px;

            outline-color: lightgreen;
        }

        input {
            margin-left: 0;
        }
    }

    &__error {
        font-size: 12px;
        text-align: center;
        color: red;

        margin: 0;
        margin-top: 10px;
    }
}
