html, body, #root {
    height: 100%;
}

body {
    background: url('../assets/images/background.png');

    font-family: 'Comfortaa', cursive;
}

.btn + .browser-link,
.browser-link + .btn {
    margin-top: .5rem;
    display: block;
}

