@import '../../styles/variables.scss';

$footer-padding: 10px;

.page {
    height: calc(100% - #{$header-height + $footer-height});

    padding: $footer-padding;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &,
    &:visited {
        color: blue;
    }
}
