@import '../../styles/variables.scss';

$footer-padding: 10px;

.page {
    min-height: calc(100% - #{$header-height + $footer-height});
    height: auto;

    padding: $footer-padding;

    &_messages {
        padding: 0;
        height: calc(100% - #{$header-height});
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &,
    &:visited {
        color: blue;
    }
}
