@import '../../styles/variables.scss';

.header {
    width: 100%;
    height: $header-height;
    background: lighten($color: cornflowerblue, $amount: 20);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;

    &__logo {
        font-size: 17px;
        font-weight: 500;
        letter-spacing: .5px;

        &-icon {
            margin-right: 5px;
            vertical-align: baseline;
        }

        position: relative;

        &::before {
            position: absolute;
            content: '';
        }
    }

    &__login {
        display: inline-block;
    }

    &__login::first-letter {
        color: red;
    }
}
